@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
#luffy{
    background-color: aqua;
    background-image: url("../assets/hero-bg.png");
    height: 1080px;
    width: 1902px;
    background-repeat: no-repeat;
    /*background-size: cover; 
    background-position: center;*/
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}